---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.mashape.com/?limit=50&q%5Bcountry_cont%5D=Canada&q%5Bstate_cont%5D=British%20Columbia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - kTcSO87d4bmshdyXLLsPfhlE98Bmp1Ihiy0jsnb5wnarMuh88m
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cbb0baec7690985eebb653cbb4de2921"'
    body:
      encoding: UTF-8
      string: '{"places":[{"city":"Penticton","state":"British Columbia","country":"Canada","name":"Apex
        Mountain Resort","parent_id":null,"unique_id":15289,"directions":null,"lat":49.389847,"lon":-119.900606,"description":null,"date_created":null,"children":[],"activities":[{"name":"Apex
        Mountain Resort","unique_id":"6-841","place_id":15289,"activity_type_id":9,"activity_type_name":"snow
        sports","url":"http://www.snowtoit.com/trail.php?c=73&i=841","attribs":{"\"type\"":"\"Lift-serviced
        \\/ Resort\""},"description":"Apex Mountain offers a wide array of activities
        in addition to skiing and snowboarding. Visitors have access to snow shoeing,
        snow tubing, ice skating, and nordic skiing. &lt;br /&gt;<br />&lt;br /&gt;<br
        />The mountain receives 236 inches in annual snowfall and sits at an elevation
        of 7,200 feet. The 2,000 vertical feet are covered quickly by the 3 lifts
        and a tube tow at a rate of 6,700 riders per hour. &lt;br /&gt;<br />&lt;br
        /&gt;<br />Apex Mountain Resort boasts 59 trails (according to the trail map),
        of which 10 are beginner, 20 are more difficult, 20 are most difficult, and
        9 are expert. The longest trail is Grandfather''s Trail at 5 km (3.1 miles).
        Other popular trails include Highway 97 and Juniper.","length":0.0,"activity_type":{"created_at":"2012-08-15T17:33:19Z","id":9,"name":"snow
        sports","updated_at":"2012-08-15T17:33:19Z"},"thumbnail":"http://images.snowtoit.com/2011/10/841-0.jpg","rank":null,"rating":0.0}]},{"city":"Hazelton","state":"British
        Columbia","country":"Canada","name":"Ross Lake Provincial Park","parent_id":null,"unique_id":20435,"directions":"Off
        Hwy 16, Hazelton BC.","lat":55.24965,"lon":-127.520413,"description":"Ross
        Lake Park is popular with anglers, boaters and swimmers. A picnic area, beach,
        hiking trail and boat launch (electric motors only) offer opportunities for
        an enjoyable family picnic or evening stroll. This park offers a pleas[...]
