<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-sm-offset-2 col-sm-7'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h1>British Columbia Trails</h1>
      </div>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <% @trails.each do |trail| %>
              <tr>
                <td><%= link_to trail.name, trail_path(trail) %></td>
                <td><%= trail.city %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
